

.container {
    --svglength: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: monospace;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
  
.container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ffffff34;
}
  