.myWorksContainer {
     width: 100%;
     height: 100vh;
     scroll-snap-align: center;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;

     h2 {
          font-family: var(--font-montserrat);
          font-size: 28px;
          color: #f7a541;
          text-align: center;
     }

     p {
          margin-top: 10px;
          font-size: 14px;
          color: #e0e0e0;
          font-family: var(--font-montserrat);
     }
}
